// Admin
* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $body-bg;
  color: $primary-font-color;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  width: 100%;
}
.admin-wrapper  {
  height: 100%;
}