.admin-content-wrapper {
  padding-top: 25px;
  .admin-content {
    padding: 25px;
    margin-left: 265px;
    margin-right: 25px;
    background-color: #fff;
    color: $second-font-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    h3 {
      margin-top: 0;
      margin-bottom: 50px;
      font-weight: 600;
    }
  }
}