// Form styles
input {
  &[type='text'], &[type='text'], &[type='password'], &[type='number'] {
    border-radius: 0;

    &:focus {
      border-color: $primary-color;
    }
  }
}

button, input {
  &[type='submit'] {
    cursor: pointer;
    line-height: 2.25rem;
    padding: 0 16px;
    position: relative;
    border-radius: 2px;
    border: none;
    background-color: $primary-color;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 225ms cubic-bezier(0.4, 0.0, 0.2, 1);

    i {
      margin-left: 5px;
    }

    &:hover, &:focus {
      background-color: darken($primary-color, 10%);
      transition: 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  }
}