// Login page
.login-wrapper {
  height: 100vh;
  background: radial-gradient(ellipse at center, lighten($side-menu-bg, 10%) 0%, $side-menu-bg 100%);

  .login-content-wrapper {
    position: absolute;
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $second-font-color;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    @include animation('fadeIn 800ms');
    transition: transform 225ms cubic-bezier(0.0, 0.0, 0.2, 1), border-radius 375ms cubic-bezier(0.0, 0.0, 0.2, 1), opacity 225ms cubic-bezier(0.0, 0.0, 0.2, 1);

    .login-content {
      padding: 25px;

      h3 {
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 15px;
      }

      .alert {
        ul {
          list-style: none;
        }
      }
    }

    @include mq('phone-wide', 'max') {
      width: 90%;
      transition: transform 225ms cubic-bezier(0.0, 0.0, 0.2, 1),
        border-radius 200ms cubic-bezier(0.0, 0.0, 0.2, 1),
        opacity 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
    }
  }
}