.side-menu-left {
  left: 0;
}

.side-menu-right {
  right: 0;
}

.side-menu {
  top: 0;
  background-color: $side-menu-bg;
  height: 100vh;
  position: fixed;
  width: 240px;

  a {
    color: $primary-font-color;
    transition: 225ms cubic-bezier(0.4, 0.0, 0.2, 1);

    i {
      transition: transform 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    &:focus, &:hover, &.active {
      text-decoration: none;
      color: $primary-color;
      transition: 225ms cubic-bezier(0.4, 0.0, 0.2, 1);

      i {
        transform: scale(1.2);
        transition: transform 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
      }
    }
  }

  .side-menu-header {
    padding: 25px 25px;
    color: $primary-font-color;
    background-color: darken($side-menu-bg, 10%);
    display: flex;
    align-items: center;

    .side-menu-header-img {
      max-height: 30px;
    }

    .side-menu-header-text {
      margin-left: 15px;
      font-weight: 600;
    }
  }

  .navigation {
    li {
      list-style: none;
      a {
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px 25px;
        font-size: 95%;
        font-weight: 600;
        border-left: 0;

        .fa-angle-left {
          position: absolute;
          right: 30px;
          transform: rotate(0) scale(1);
        }

        &.sub-navigation-open .fa-angle-left {
          transform: rotate(-90deg) scale(1.3);
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 0 solid $primary-color;
          transform: translateY(-50%);
        }

        &:focus, &:hover, &.active {
          background-color: lighten($side-menu-bg, 10%);
          border-left: 4px solid $primary-color;

          &:after {
            border-left: 8px solid $primary-color;
            transition: border-left 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
          }
        }

        span {
          margin-left: 15px;
        }
      }

      .sub-navigation {
        display: none;
        background-color: darken($side-menu-bg, 5%);

        li {
          list-style: none;

          a {
            padding: 25px 50px;
            font-size: 90%;

            &:focus, &:hover, &.active {
              background-color: lighten($side-menu-bg, 5%);
            }
          }
        }
      }
    }
  }

  .logout {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    color: $primary-font-color;
    cursor: pointer;

    &:focus, &:hover {
      background: transparent;
      border: none;

      i {
        color: $primary-color;
        transition: 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
      }
    }

    span {
      display: none;
    }

    &.bottom-left {
      left: 18px;
      bottom: 18px;
    }

    &.bottom-right {
      left: 18px;
      bottom: 18px;
    }
  }
}