* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $body-bg;
  color: $primary-font-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
}

#instantclick-bar {
  background: $primary-color;
}

.home-wrapper {
  background-image: url('../images/website_bg_02.jpg');
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .page-content {
    z-index: 10;
    position: relative;
    overflow: hidden;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      @include animation('fadeIn 1200ms');
    }

    .page-logo {
      width: 600px;

      @include mq('phone-wide', 'max') {
        width: 300px;
      }
      img {
        @include animation('fadeInWithSlideRight 1000ms');
      }
    }

    .page-navi {
      @include animation('fadeInWithSlideLeft 800ms');
    }
  }
}

.full-height {
  height: 100vh;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.top-left {
  position: absolute;
  left: 10px;
  top: 18px;
}

.bottom-left {
  position: absolute;
  left: 10px;
  bottom: 18px;
}

.bottom-right {
  position: absolute;
  right: 10px;
  bottom: 18px;
}

.header {
  img {
    width: 300px;
  }
}

.page-content {
  color: $primary-font-color;
  @include push--auto;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-15 {
  margin-top: 15px;
}

@import 'modules/navigations';