// Animations
@include keyframes('fadeIn') {
    from { opacity: 0; }
    to { opacity: 1; }
}

@include keyframes('fadeOut') {
  from { opacity: 1; }
  to { opacity: 0; }
}

@include keyframes('fadeInWithSlideRight') {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@include keyframes('fadeInWithSlideLeft') {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@include keyframes('fadeInWithSlideUp') {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@include keyframes('fadeInWithSlideDown') {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@include keyframes('splashUp') {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    border-radius: 100%;
  }
  to {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    border-radius: 0;
  }
}

