.navigation {
  list-style: none;

  > li {
    display: inline-block;
    padding: 0 25px;

    a {
      display: inline-block;
      color: $primary-font-color;

      font-size: 12px;
      font-weight: 600;
      letter-spacing: .1rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: 225ms ease;

      &:focus, &:hover {
        color: $primary-color;
        transform: scale(1.2);
        transition: 225ms ease;
      }
    }

    @include mq('phone-wide', 'max') {
      padding: 0 10px;
    }
  }
}

.page-navi {
  > li {
    @include mq('phone-wide', 'max') {
      display: block;
      padding: 25px 0;
    }
  }
}

.social {
  @include animation('fadeInWithSlideUp 1500ms');

  > li span {
    display: none;
  }

  @include mq('phone-wide', 'max') {
    position: relative;
    top: 18px;
    right: auto;
    display: flex;
    justify-content: space-around;
    @include animation('fadeInWithSlideDown 1500ms');
  }
}

.footer {
  @include animation('fadeInWithSlideUp 1500ms');

  @include mq('phone-wide', 'max') {
    bottom: 10px;
    width: 100%;
    left: auto;
    display: flex;
    justify-content: space-around;
  }
}